.sidebar {
  float: left;
  width: 200px;
  padding: 10px;
}

.sidebar-logo {
  max-width: 100%;
  border-radius: 50%;
}

.sidebar-nav {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar-nav a {
  text-decoration: none;
  margin: 5px 0;
  color: #333;
}
